[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
faiss-cpu = "*"
tiktoken = "*"
pypdf = "*"
unstructured = "*"
typer = "*"
streamlit = "*"
accelerate = "*"
bitsandbytes = "*"
beautifulsoup4 = "*"
duckduckgo-search = "*"
iso639-lang = "*"
streamlit-toggle-switch = "*"
transformers = {extras = ["torch"], version = "*"}
sentence-transformers = "*"
langdetect = "*"

[dev-packages]
ipykernel = "*"
isort = "*"
black = "*"
flake8 = "*"
langdetect = "*"

[requires]
python_version = "3.10"
